{exp:channel:entries channel="galeria" url_title="{embed:categoria}" }
<div id="imageSlideshow"> <!-- The slider will be placed within this <div> tag. -->
			<div rel="slider_content" style="display: none;"> <!-- Define the structure and content for the slider. -->
				
                {if '{imagen}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo}</div>
                        <div rel="description">{descripcion}</div>
                        <div rel="content" class="imagen">{imagen}</div>
                        <div rel="thumbnail">{imagen}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen2}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo2}</div>
                        <div rel="description">{descripcion2}</div>
                        <div rel="content" class="imagen">{imagen2}</div>
                        <div rel="thumbnail">{imagen2}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen3}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo3}</div>
                        <div rel="description">{descripcion3}</div>
                        <div rel="content">{imagen3}</div>
                        <div rel="thumbnail">{imagen3}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen4}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo4}</div>
                        <div rel="description">{descripcion4}</div>
                        <div rel="content">{imagen4}</div>
                        <div rel="thumbnail">{imagen4}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen5}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo5}</div>
                        <div rel="description">{descripcion5}</div>
                        <div rel="content">{imagen5}</div>
                        <div rel="thumbnail">{imagen5}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen6}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo6}</div>
                        <div rel="description">{descripcion6}</div>
                        <div rel="content">{imagen6}</div>
                        <div rel="thumbnail">{imagen6}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen7}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo7}</div>
                        <div rel="description">{descripcion7}</div>
                        <div rel="content">{imagen7}</div>
                        <div rel="thumbnail">{imagen7}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen8}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo8}</div>
                        <div rel="description">{descripcion8}</div>
                        <div rel="content">{imagen8}</div>
                        <div rel="thumbnail">{imagen8}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen9}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo9}</div>
                        <div rel="description">{descripcion9}</div>
                        <div rel="content">{imagen9}</div>
                        <div rel="thumbnail">{imagen9}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen10}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo10}</div>
                        <div rel="description">{descripcion10}</div>
                        <div rel="content">{imagen10}</div>
                        <div rel="thumbnail">{imagen10}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
               
               {if '{imagen11}' != ''}
                    <div rel="slide" class="alto">
                        <div rel="type">image</div>
                        <div rel="title">{codigo11}</div>
                        <div rel="description">{descripcion11}</div>
                        <div rel="content">{imagen11}</div>
                        <div rel="thumbnail">{imagen11}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen12}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo12}</div>
                        <div rel="description">{descripcion12}</div>
                        <div rel="content">{imagen12}</div>
                        <div rel="thumbnail">{imagen12}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen13}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo13}</div>
                        <div rel="description">{descripcion13}</div>
                        <div rel="content">{imagen13}</div>
                        <div rel="thumbnail">{imagen13}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen14}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo14}</div>
                        <div rel="description">{descripcion14}</div>
                        <div rel="content">{imagen14}</div>
                        <div rel="thumbnail">{imagen14}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen15}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo15}</div>
                        <div rel="description">{descripcion15}</div>
                        <div rel="content">{imagen15}</div>
                        <div rel="thumbnail">{imagen15}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen16}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo16}</div>
                        <div rel="description">{descripcion16}</div>
                        <div rel="content">{imagen16}</div>
                        <div rel="thumbnail">{imagen16}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen17}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo17}</div>
                        <div rel="description">{descripcion17}</div>
                        <div rel="content">{imagen17}</div>
                        <div rel="thumbnail">{imagen17}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen18}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo18}</div>
                        <div rel="description">{descripcion18}</div>
                        <div rel="content">{imagen18}</div>
                        <div rel="thumbnail">{imagen18}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen19}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo19}</div>
                        <div rel="description">{descripcion19}</div>
                        <div rel="content">{imagen19}</div>
                        <div rel="thumbnail">{imagen19}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{codigo20}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo20}</div>
                        <div rel="description">{descripcion20}</div>
                        <div rel="content">{imagen20}</div>
                        <div rel="thumbnail">{imagen20}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen21}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo21}</div>
                        <div rel="description">{descripcion21}</div>
                        <div rel="content">{imagen21}</div>
                        <div rel="thumbnail">{imagen21}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen22}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo22}</div>
                        <div rel="description">{descripcion22}</div>
                        <div rel="content">{imagen22}</div>
                        <div rel="thumbnail">{imagen22}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen23}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo23}</div>
                        <div rel="description">{descripcion23}</div>
                        <div rel="content">{imagen23}</div>
                        <div rel="thumbnail">{imagen23}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen24}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo24}</div>
                        <div rel="description">{descripcion24}</div>
                        <div rel="content">{imagen24}</div>
                        <div rel="thumbnail">{imagen24}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen25}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo25}</div>
                        <div rel="description">{descripcion25}</div>
                        <div rel="content">{imagen25}</div>
                        <div rel="thumbnail">{imagen25}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen26}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo26}</div>
                        <div rel="description">{descripcion26}</div>
                        <div rel="content">{imagen26}</div>
                        <div rel="thumbnail">{imagen26}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{codigo27}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo27}</div>
                        <div rel="description">{descripcion27}</div>
                        <div rel="content">{imagen27}</div>
                        <div rel="thumbnail">{imagen27}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen28}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo28}</div>
                        <div rel="description">{descripcion28}</div>
                        <div rel="content">{imagen28}</div>
                        <div rel="thumbnail">{imagen28}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen29}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo29}</div>
                        <div rel="description">{descripcion29}</div>
                        <div rel="content">{imagen29}</div>
                        <div rel="thumbnail">{imagen29}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if}
                
                {if '{imagen30}' != ''}
                    <div rel="slide">
                        <div rel="type">image</div>
                        <div rel="title">{codigo30}</div>
                        <div rel="description">{descripcion30}</div>
                        <div rel="content">{imagen30}</div>
                        <div rel="thumbnail">{imagen30}</div>
                        <!--<div rel="target_url">http://www.somesite.com</div>
                        <div rel="target_window">_blank</div>-->
                    </div>				
				{/if} 
                
			</div>
		</div> <!-- end SliderWall definition and structure -->
{/exp:channel:entries}