<header>
          <div id="logo">
            <div id="logo_text">
              <!-- class="logo_colour", allows you to change the colour of the text -->
              <img class="image-right image" src="assets/images/logo2.gif" alt="dchicos logo">
              <img class="image-left" src="assets/images/logo1.gif" alt="dchicos logo">
              <br/>
              <a href="/" class="dchicos">
              <span>D'</span>
              <span>C</span><span>h</span><span>i</span><span>c</span><span>o</span><span>s</span></a>
              <h2>Siempre pensado en los ni&ntilde;os</h2>
            </div>
          </div>
          <nav>
            <div id="menu_container">
              <ul class="sf-menu" id="nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="galeria">Galeria</a></li>
                <li><a href="sobrenosotros">Sobre Nosotros</a></li>
                <li><a href="contactenos">Contactenos</a></li>
              </ul>
            </div>
          </nav>            
        </header>