<div id="imageSlideshow"> <!-- The slider will be placed within this <div> tag. -->
			<div rel="slider_content" style="display: none;"> <!-- Define the structure and content for the slider. -->
				<div rel="slide">
					<div rel="type">image</div>
					<!--<div rel="title">Title 2</div>
					<div rel="description">Description 2 (click on the image to open somesite.com)</div>-->
					<div rel="content">assets/images/slide1.jpg</div>
					<div rel="thumbnail">assets/images/slide1.jpg</div>
					<!--<div rel="target_url">http://www.somesite.com</div>
					<div rel="target_window">_blank</div>-->
				</div>
				<div rel="slide">
					<div rel="type">image</div>
					<!--<div rel="title">Title 2</div>
					<div rel="description">Description 2 (click on the image to open somesite.com)</div>-->
					<div rel="content">assets/images/slide2.jpg</div>
					<div rel="thumbnail">assets/images/slide2.jpg</div>
					<!--<div rel="target_url">http://www.somesite.com</div>
					<div rel="target_window">_blank</div>-->
				</div>
				<div rel="slide">
					<div rel="type">image</div>
					<!--<div rel="title">Title 3</div>
					<div rel="description">Description 3 (click on the image to open somesite.com)</div>-->
					<div rel="content">assets/images/slide3.jpg</div>
					<div rel="thumbnail">assets/images/slide3.jpg</div>
					<!--<div rel="target_url">http://www.somesite.com</div>
					<div rel="target_window">_blank</div>-->
				</div>
				
			</div>
		</div> <!-- end SliderWall definition and structure -->