<div id="sidebar_container">
	<div class="sidebar">
	  <h3 align="center">Ultimas Noticias</h3>
	  <h5><b>Coche y Silla Cargadora</b></h5>
	  <p>Conozca el Coche y Silla cargadora, visita nuestra galeria y conoce mas.</p>
    </div>
    <div class="sidebar">
	  <h3 align="center">Categorias</h3>
	  <ul>
		<li><a onclick="#">Coches para Bebe</a></li>
		<li><a onclick="#">Cunas</a></li>
		<li><a onclick="#">Encierros</a></li>
		<li><a onclick="#">Cadenitas</a></li>
		<li><a onclick="#">Moviles</a></li>
		<li><a onclick="#">Silla para Autos</a></li>
	  </ul>
    </div>
</div>